<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Min webbplats</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <header>
        <h1>Min Webbplats</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/">Hem</a></li>
            <li><a href="/login">Logga in</a></li>
        </ul>
    </nav>

    <main>
        <section class="blog-posts" id="blog-posts">
            {% for post in posts %}
            <article class="post">
                <h2>{{ post.title }}</h2>
                <p>{{ post.content }}</p>
                <p>
                    <em>
                        <img src="{{ url_for('static', filename='images/' ~ (post.user.image or 'default_profile.jpg')) }}"
                            alt="Profile picture of {{ post.user.username }}" class="profile-pic">
                        By {{ post.user.username }} on {{ post.time | timestamp_to_datetime }}
                    </em>
                </p>
            </article>
            {% endfor %}
        </section>


    </main>



    <footer>
        &copy; Bla bla bla.
    </footer>
</body>

</html>