<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Website</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <header>
        <h1>Blog</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            {% if not session.get("logged_in") %}
                <li><a href="/login">Log in</a></li>
            {% else %}
                <li><a href="{{url_for('memberarea')}}">Member area</a></li>
                 <li><a href="{{url_for('settings')}}">Settings</a></li>
                <li><a href="/logout">Log out</a></li>
            {% endif %}
        </ul>
    </nav>

    <main>
        {% block content %}
       
        {% endblock %}
    </main>



    <footer>
        &copy; Bla bla bla.
    </footer>
</body>

</html>