<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Min webbplats</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <h1>Memberpage</h1>
    </header>

    <nav>
        <ul>
            <li><a href="">Member page</a></li>
            <li><a href="/">Log out</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}
        <!-- Här läggs sidans innehåll -->
        {% endblock %}
    </main>

    <footer>
        &copy; Bla bla bla.
    </footer>
</body>
</html>
